pandas
numpy
matplotlib
seaborn
openpyxl
ipykernel
faker
lxml

# CLASE 3
scipy
statsmodels

# CLASE 4
bs4
requests

# CLASE 5
# sudo apt-get install ghostscript
camelot-py
PyPDF2<3.0


# CLASE 6: CLASIFICADORES
scikit-learn
ipympl


# CLASE 10: VISION ARTIFICIAL
imageio
scikit-image

# CLASE 11
common
pytesseract